table {
  border-collapse: collapse;
}
table.assumption-table {
}
table.interaction-table {
}

td {
  border: 1px solid black;
}

div.label {
}
div.assumption-label {
}
div.data-label {
}
div.threat-label {
}

div.description {
}
div.assumption-description {
}
div.data-description {
}
div.threat-description {
}

div.row-number {
}
div.assumption-number {
}
div.data-number {
}
div.threat-number {
}
div.interaction-number {
}
div.interaction-notes {
}

div.classification-public {
}
div.classification-restricted {
}
div.classification-confidential {
}

div.risk-low {
  background: khaki;
}
div.risk-medium {
  background: sandybrown;
}
div.risk-high {
  background: tomato;
}

div.dash {
}
