table {
  border-collapse: collapse;
  margin: 1em;
}
table.data-table {
}
table.threat-table {
}
table.measure-table {
}
table.interaction-table {
}

th, td {
  border: 1px solid Black;
  padding: 2px 12px;
}
th {
  background-color: LightGrey;
}
td a {
  color: inherit;
}
tbody:target, tr:target, tr:hover {
  background-color: #FFD70060;
}

#diagram {
}

.label {
  margin-left: 4px;
}
.data-label {
}
.threat-label {
}
.risk-label {
}
.measure-label {
}
.mitigation-label {
}

.status {
  background-color: rgba(var(--inset-color), 0.25);
  box-shadow: 0px 0px 0px 2px inset rgb(var(--inset-color));
  display: inline-block;
  margin: 2px 0px;
  padding-right: 14px;
}
.data-status {
  background-color: WhiteSmoke;
  /* Black */
  --inset-color: 0, 0, 0;
}
.threat-status {
  /* Crimson */
  --inset-color: 220, 20, 60;
}
.risk-status {
  /* Crimson */
  --inset-color: 220, 20, 60;
}
.measure-status {
  /* LimeGreen */
  --inset-color: 50, 205, 50;
}
.mitigation-status {
  /* LimeGreen */
  --inset-color: 50, 205, 50;
  margin-left: 12px;
}

.description {
}
.data-description {
}
.threat-description {
}
.mesure-description {
}

.row-number {
}
.data-number {
}
.threat-number {
}
.measure-number {
}
.interaction-number {
}
.interaction-notes {
}

.classification-public {
}
.classification-restricted {
  background-image: repeating-linear-gradient(45deg, rgb(var(--inset-color)), rgb(var(--inset-color))50%, Transparent 50%, Transparent 100%);
}
.classification-confidential {
  background-color: rgb(var(--inset-color));
}

.risk-minimal {
}
.risk-low {
  background-image: repeating-linear-gradient(45deg, rgb(var(--inset-color)), rgb(var(--inset-color))calc(100%/3), Transparent calc(100%/3), Transparent 100%);
}
.risk-medium {
  background-image: repeating-linear-gradient(45deg, rgb(var(--inset-color)), rgb(var(--inset-color))50%, Transparent 50%, Transparent 100%);
}
.risk-high {
  background-image: repeating-linear-gradient(45deg, rgb(var(--inset-color)), rgb(var(--inset-color))calc(200%/3), Transparent calc(200%/3), Transparent 100%);
}
.risk-critical {
  background-color: rgb(var(--inset-color));
}

.imperative-none {
}
.imperative-may {
}
.imperative-should {
  font-style: italic;
}
.imperative-must {
  font-weight: bold;
}

.capability-detective {
}
.capability-partial {
  background-image: repeating-linear-gradient(45deg, rgb(var(--inset-color)), rgb(var(--inset-color))50%, Transparent 50%, Transparent 100%);
}
.capability-full {
  background-color: rgb(var(--inset-color));
}

.status-pending {
  box-shadow: 0px 0px 0px 2px inset Crimson;
}
.status-implemented {
  box-shadow: 0px 0px 0px 2px inset Orange;
}
.status-verified {
}

.dash {
  display: flex;
  justify-content: center;
}

.edge:hover polygon, .edge:target polygon {
  stroke-width: 6px;
}
.edge:hover ellipse, .edge:target ellipse {
  stroke-width: 6px;
}
.edge:hover path, .edge:target path {
  stroke-width: 4px;
}
.edge:hover text, .edge:target text {
  font-weight: bold;
  font-size: 180%;
  stroke: Gold;
}
